.content {
    height: 80%;
    display: grid;
    align-content: space-between;
    position: relative;
}

.buttonContent{
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    gap: 1rem;
}
