.content {
    height: 80%;
    display: grid;
    align-content: space-between;
    position: relative;
}

.buttonContent{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-content: center;
    align-content: center;
    bottom: 15vh;
    left: 0;

}
