.content {
    width: 100vw;
    height: 92vh;
    display: flex;
    background-color: var(--primary-background-color);
    justify-content: center;
}

.stepAlign {
    width: inherit;
    display: flex;
    justify-content:center;
    margin-top: 2.5rem;
}

.contentAlign {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}
