.content{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
}

.input{
    width: 70%;
    height: 35px;
    border: 1px solid var(--default-disabled-color);
    border-radius: 5px 0px 0 5px;
    padding: 0 10px;
    background: hsl(0, 0%, 100%);
    outline: none;
    font-family: var(--font-default)
}

.buttonLink{
    padding: 0 10px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid var(--default-disabled-color);
    border-left: none;
}

.buttonLink:hover{
    background-color: #d4d8d9;
    transition: ease-in-out 0.2s;
}

.copied{
    display: none;
    font-size: calc(8px + 0.15em)
}


.input_group{
    display: flex;
    flex-direction: row;
}

.previaCertificado{
    text-align: center;
    max-width: 80vw;
    overflow: auto;
}
