.btnCheck{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.labelBtnCheck{
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    transition: ease-in 0.15s;
    cursor: pointer;
    margin: 0 0.25rem;
}

.checked{
    background-color: var(--primary-color);
    background-image: url('/images/right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.75rem;
    
}
