:root{
    --width-certificado: 100%;
}


.certificado{
    width: 50vw;
    height: calc(50vw * 0.707);
}


#logo{
    width: calc(100% * 0.75);
}

#titulo, h1{
    font-size: 22px;
}

#footer{
    height: 100%;
}

#instituicao, #instituicao-nome{
    font-size: 12px;
}

#validacao-texto, #validacao-codigo{
    font-size: 0.4rem;
}

#content, #local{
    font-size: 12px;
    line-height: normal;
}

#assinatura-nome{
    font-size: calc(12px - 0.15rem);
}

@media (max-width: 867px){
    .certificado{
        width: 100%;
        height: calc(100vw * 0.707);
    }
}





