@media print {
    #navbar, button, .no-print {
      display: none;
    }
  
    body{
      padding: 0;
    }
  
    .certificadoDisplay{
      padding: 0;
    }
  
    body>div:not(#login) {
      padding-top: 0rem;
    }
  
    #certificado {
      -webkit-print-color-adjust:exact;
      print-color-adjust: exact;
      margin: 0;
      padding: 0;
      width: 100%;
      scrollbar-width: none;
      overflow: hidden;
    }
  
  }