.spinner {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.25rem solid var(--primary-color);
    border-top-color: var(--default-disabled-color);
    animation: 1s linear infinite spin;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}