.card {
    position: relative;
    padding: 5vh;
    width: 22%;
    height: 20vh;
    background-color: #fff;
    margin: 3vh;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }
.cardContent {
    font-size: 18px;
    width: 85%;
    padding: 2vh;
    text-align: center;
    color: #666;
    transition: 0.3s;
 }
.cardImage {
    display: block;
    margin-left: 0;
    padding-left: 0;
}
.card:hover{
    background-color: #eee;
    border-color: #eee;
    .cardContent{
       font-size: 20px;
       color: #444;
    }  
 }
 @media (max-width:600px) {
    .card{
       width: 80%;
    }
 }