.input{
    width: 100%;
    height: 35px;
    border: 1px solid var(--default-disabled-color);
    border-radius: 5px;
    padding: 0 10px;
    background: hsl(0, 0%, 100%);
    outline: none;
    font-family: var(--font-default)
}


.input:focus{
    border-color: var(--primary-color);
}

.input[type="file"]{
    padding: 0;
    background: none;
    border:none;
}

.input[aria-invalid="true"] {
    border: 1px solid #ec5353;
}

.input::file-selector-button{
    border: none;
    background-color: var(--primary-color);
    font-family: var(--font-default);
    color: white;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
    gap: 10px;
    transition: all 0.5s ease-out;
}

.input::file-selector-button:hover{
    background-color: #63acdd;
}

.label {
    font-family: var(--font-default)
}

@media (max-width: 768px){
    .input{
        width: 100%;
    }
}
