.modalShadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}

.modalBody{
    height: 70%;
    overflow-x: auto;
    padding: 1.5rem;
}

.modal{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

@media (max-width:867px){
    .modal{
        width: 90%;
    }
}

