.content {
   background-color: var(--primary-background-color);
   height: 100%;
}
.container {
   margin: 0;
   box-sizing: border-box;
   padding: 3vh;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   width: 92vw;
   justify-content: space-between;
   flex-wrap: wrap;
   
}
.containerTitle {
   padding: 3vh 6vh 0 6vh;
   color: #444;
   display: flex;
}

@media (max-width: 992px){
   .container{
      width: 100%;
   }
}

@media (max-width: 867px){
   .container{
      grid-template-columns: 1fr 1fr;
   }
}

@media (max-width:600px) {
   .container {
      grid-template-columns: 1fr;
   }

}


.flexCenter{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
   margin: 0.5em;
}