.inputGroup {
    display: flex;
    width: 100%;
    gap: 3rem;
}

.inputLeftGroup, .inputGroupRight {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.contentDate {
    display: flex;
    gap: 0.5rem;
}

.eventTimes {
    display: grid;
    gap: 1rem;
    height: 50%;
    padding-right: 0.5rem;
    overflow: auto;
}