.inputGroup {
    display: flex;
    width: 100%;
    gap: 3rem;
}

.inputLeftGroup, .inputGroupRight {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.contentDate {
    display: flex;
    gap: 0.5rem;
}

.eventTimes {
    display: grid;
    gap: 1rem;
    height: 50%;
    padding-right: 0.5rem;
    overflow-y: auto;
}

@media (max-width: 992px){
    .inputGroup{
        gap: 1.5rem;
    }
}

@media (max-width: 867px){
    .inputGroup {
        flex-direction: column;
        gap: 1rem;
    }

    .inputLeftGroup, .inputGroupRight {
        flex: 1;
    }

    .contentDate {
        gap: 0.5rem;
    }

    .eventTimes {
        padding-right: 0;
    }
}

@media (max-width: 576px){
    .contentDate{
        flex-direction: column;
    }

    .contentDate div {
        width: 100%!important;
    }
}