
.circle {
    width: 35px;
    height: 35px;
    line-height: 30px;
    background-color: var(--default-disabled-color);
    color: var( --text-color-secundary );
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.stepBlock {
    width: inherit;
    text-align: center;
}

.circleWrapper {
    display: flex;
}

.stepBlock .circleWrapper {
    padding: 0px 20px;
    position: relative;
}

.selected .circle {
    color: var(  --primary-color);
    background-color: white;
    border-color: var(  --primary-color);
}

.completed .circle {
    color: var( --text-color-secundary );
    background-color: var(--primary-color);
    border-color: var(  --primary-color);
}

.stepBlock:last-child {
    width: 100px;
}

.stepBlock:not(:last-child) .circleWrapper::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: var(  --primary-color);
    margin: auto;
    z-index: 1;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35px;
    height: 35px;
}

.informations > span {
    width: 200px;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
    height: 3px;
}
  
.stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 2px;
    opacity: 0.6;
    background-color: var(--default-disabled-color);
}
