.loadingSkeleton {
    width: 85%;
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 5% auto;
    margin-bottom: 0.25rem;
    animation: loading 0.75s infinite;
    animation-direction: alternate;
}

.title {
    width: 150px;
    height: 20px;
    background-color: gray;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 0.25rem;
}

.loadingListSkeleton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 1.5rem 0;
    border-radius: 0.25rem;
    background-color: #f3f3f3;
    width: 100%;
}

.itemTitle {
    width: 50%;
    height: 20px;
    background-color: #dadada;
    border-radius: 5px;
    margin-bottom: 10px;
}

.itemSubtitle {
    width: 35%;
    height: 20px;
    background-color: #dadada;
    border-radius: 5px;
    margin-bottom: 10px;
}

.itemButton {
    width: 150px;
    height: 40px;
    background-color: #3498DB50;
    border-radius: 5px;
    margin-bottom: 10px;
}


@keyframes loading {
    0%,5% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    95%, 100% {
        opacity: 1;
    }

}