.content{
    display: grid;
    grid-template-columns: 35% auto;
    justify-content: space-between;
    align-items: start;
}

.inputGroup{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5rem;
}

.leftContent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label{
    font-family: var(--font-default);
    margin: 0 0 0 0.5rem;
}

.radio:checked{
    accent-color: var(--primary-color);
}


@media (max-width: 867px){
    .content{
        display: grid;
        grid-template-columns: 100%;
    }

    .rightContent{
        margin-top: 1.5rem;
    }
}