.itemList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 0.5rem 0rem;
    padding: 0.25rem 0;
    border-bottom: 1px solid #000;
}

.itemList:hover{
    background-color: rgb(52,152,219,0.5);
    transition: ease-in 0.15s;
}

.itemList:hover .subtitle{
    color: white
}

.title{
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0.25rem 0
}

.subtitle{
    font-size: 0.85rem;
    font-weight: 400;
    color: #999;
}
